body {
 background: #ccc;   
}

#wrapper {
  -webkit-perspective: 800;
}

.card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
}

.card, .front, .back {
  border-radius: 10px;
  color: black;
  float: left;
  height: 440px;
  line-height: 440px;
  position: relative;
  padding: 0;
  text-align: center;
  width: 100%;
}

.front, .back {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
}

.back {
  color: #fff;
  background-color: black;
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
}

.card.flipped {
  -webkit-transform: rotatey(-180deg) translate3d(0,0,0);
}
