body {
 background: #ccc;   
}

.card, .front, .back {
  border-radius: 10px;
  color: black;
  float: left;
  height: 440px;
  line-height: 440px;
  position: relative;
  padding: 0;
  text-align: center;
  width: 100%;
}

.front, .back {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
}

.back {
  color: black;
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
}

.card {
  -webkit-transform-style: preserve-3d;
  -webkit-animation-name: default;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}

.card.flipped {
  -webkit-animation-name: cardflipped;
}

@-webkit-keyframes default { 
  from  { -webkit-transform: rotateY(180deg) translate3d(0,0,0); }
  to    { -webkit-transform: rotateY(0deg) translate3d(0,0,0); }
}

@-webkit-keyframes cardflipped { 
  from  { -webkit-transform: rotateY(0deg) translate3d(0,0,0); }
  to    { -webkit-transform: rotateY(180deg) translate3d(0,0,0); }
}

